
#one.two { color: red; }
.three.four { color: #2bff00; }

/* Todos los divs con un atributo `lang` están en negrita. */
div[lang] {
    font-weight: bold;
  }
  
  /* Todos los divs de portugues en verde. */
  div[lang="pt"] {
    color: green;
  }