* {
    font-family: 'Muli', sans-serif;
}

html {
    min-height: 100%;
    position: relative;
}

.navbar-inverse {
    font-weight: bold;
    background-color: #2c96b1;
}

ul li a {
    color: #fff;
    font-size: 18px;
}

ul li a:hover {
    color: #1A1B84;
}

.navbar-brand {
    cursor: default;
    font-size: 30px;
}

.navbar-inverse .navbar-toggler {
    background-color: #1A1B84;
}

.navbar-inverse .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.tico {
    font-family: 'Patua One', cursive;
    color: #df8e15;
}

.rides {
    font-family: 'Patua One', cursive;
    color:  #df8e15;
}

.btn {
    font-weight: bold;
    background: rgb(46, 142, 187);
    color: #fff;
    border: none;
}

.btn:hover {
    background: #3A58BD;
    border: none;
    color: #fff;
}

.table {
    margin-top: 4%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #4e5056;
    color: #fff;
    height: 100px;
}

footer h4 {
    padding-top: 4%;
}

#btnUser {
    font-weight: bold;
    background: #00aeef;
    color: #fff;
    border: none;
}

#btnUser:hover {
    background: #1A1B84;
    border: none;
    color: #fff;
}

#btnUser:focus {
    background: #1A1B84;
}

.dropdown-menu {
    background: #1A1B84;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    color: #fff;
    background: #3A58BD;
}

.dropdown-divider {
    margin: 0%;
}