
    body{ 
      background-color: #BBF0AF;
    } 
  #inicio{
    text-align: center;
    margin: auto;
  }

  .wrapper {
      width: 300px;
      margin: auto;
      text-align: center;
  }

  .Ajuste1 {
    width: 300px;
    margin: auto;
    text-align: center;
  }

  input {
      margin-bottom: 15px;
  }
  label.required::after{
      content: '*';
      color: aqua;
  }

  .registro{
      width: 300px;
      margin: auto;
      text-align: center;
  }



  #menuhor {
      width: auto;
      height: 50px;
      margin-left: -8px;
      margin-right: -8px;
      background-image: url(../img/estilo/bg_menu.png);
      margin-top: -16px; /* Margen superior negativo para pegar el menu al div con id "fondo_encabezado" */
      }
      
      #boton {
      padding: 0px;
      margin: auto;
      /*margin-left: 28%; /* Modificar el margin para centrar los botones cuando se añado o quite alguno */
      }
      
      #boton li {
      display: inline;
      
      }
      
      
      .btn-group .button {
        
          background-color: #4CAF50; /* Green */
          border: 1px solid green;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none; 
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
          margin: 0px;
          
          
        
        }
        
        .btn-group .button:not(:last-child) {
          border-right: 1px; /* Prevent double borders */
        }
        
        .btn-group .button:hover { /*Simulacion de sombra*/
          background-color: #3e8e41;
        }

    #icon{
          text-align: right;
          
        }

    h4{
      text-indent: 440px;
      margin: auto;

    }
    #paseo{
      text-indent: 500px;
      margin: auto;
    }

  #Tab{
    
    text-indent: 400px;
    margin: auto;

  }
  #aju{
    text-indent: 400px;
    margin: auto;
  }

  #tabNext{
    text-indent: 500px;
    margin: auto;
  }



    .main-container{
      background-color: white;
      border-collapse: collapse;
  
    }
    
    th, td{
      padding: 20px;
    }
    
    thead{
      background-color: #246355;
      border-bottom: solid 5px #0F362D;
      color: white;
    }
    
    tr:nth-child(even){
      background-color: #ddd;
    }
    
    tr:hover td{
      background-color: #369681;
      color: white;
    }

    .container{
      background-color: white;
      text-align: center;
      border-collapse: collapse;
      width: 50%;
      margin: auto;
    }


    #cancelar{
      background-color: #f44336;
      border: none;
      color: white;
      padding: 15px 32px;
    
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top:00px ;
      margin: 2px;
      cursor: pointer;
    }
    #guardar{
      background-color:#4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
    
    .button2 {
      background-color: #008CBA;
      border: none;
      color: white;
      padding: 15px 32px;
      font-size: 16px;
      margin: 15px 1200px;
      cursor: pointer;
      
    }
    
  #hr1{
    background-color: rgb(183, 247, 225);
    height: 2px;
    width: 1100px;
    margin: 100px;
  }
  #cuando{
    
  margin-left: 450px;
  margin-top: -80px; 
  }
  #inputR{
    
  
    margin-left: 460px;
    margin-top: 5px; 
  }
  #diasS{
    position: absolute;
    margin-left:300px;
    margin-top: -135px;
  
  }

  #checks{
  position: absolute;
  
    margin-left: 760px;
    margin-top: -120px; 

  }
  .button4 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  margin-top: 130px;

    cursor: pointer;
  }

  .button3 {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 500px;
  }

  #espacio{
    margin-top: 227px;
  
  }